<div class="container-fluid topbar">
    <div class="hello">
        <p>
            <i class="fa-regular fa-hand-spock fa-shake" style="color: #3d1f51;"></i>
            Hi, {{request.user}}
        </p>
    </div>
    <div class="drop">


        <div class="dropdown-toggle icon_holder" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user-secret fa-bounce" style="color: #9710e0;"></i>
        </div>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>

    </div>
</div>