{% load static %}
<!doctype html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="color-scheme" content="dark light">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app_common/css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_common/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_common/css/utilities.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script defer="defer" data-domain="webpixels.works" src="https://plausible.io/js/script.js"></script>
  </head>
  {% block content %}
  <body>
    <div>
      <div class="px-5 py-5 p-lg-0 min-h-screen bg-surface-secondary d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center">
          <div class="col-lg-5 col-xl-4 p-12 p-xl-20 position-fixed start-0 top-0 h-screen overflow-y-hidden bg-primary d-none d-lg-flex flex-column">

            <div class="mt-32 mb-20">
              <h1 class="ls-tight font-bolder display-6 text-white mb-5">Let’s build something amazing today. </h1>
              <p class="text-white text-opacity-80">Maybe some text here will help me see it better. Oh God. Oke, let’s do it then. </p>
            </div>
            <div class="w-56 h-56 bg-orange-500 rounded-circle position-absolute bottom-0 end-20 transform translate-y-1/3"></div>
          </div>
          <div class="col-12 col-md-9 col-lg-7 offset-lg-5 border-left-lg min-h-screen d-flex flex-column justify-content-center position-relative">
            <div class="py-lg-16 px-lg-20">
              <div class="row">
                <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0">
                  <div class="mt-10 mt-lg-5 mb-6 d-lg-block">
                    <span class="d-inline-block d-lg-block h1 mb-4 mb-lg-6 me-3">👋</span>
                    <h1 class="ls-tight font-bolder h2">Nice to see you!</h1>
                  </div>
                  <form>
                    <div class="mb-5">
                      <label class="form-label" for="email">Email address</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-5">
                      <div class="d-flex align-items-center justify-content-between">
                        <div>
                          <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="mb-2">
                          <a href="side-recover.html" class="text-sm text-muted text-primary-hover text-underline">Forgot password?</a>
                        </div>
                      </div>
                      <input type="password" class="form-control" id="password" autocomplete="current-password">
                    </div>
                    <div>
                      <a href="#" class="btn btn-primary w-full">Sign in</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="position-lg-absolute bottom-0 end-0 my-8 mx-12 text-center text-lg-end">
              <small>Already have an account?</small>
              <a href="side-register.html" class="text-warning text-sm font-semibold">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'app_common/js/main.js'%}"></script>
  </body>
  {% endblock content %}
</html>