{% extends 'app_common/authentication/master.html' %}
{% load static %}
{% block content %}

<body>
    <div>
        <div class="px-5 py-5 p-lg-0 min-h-screen bg-surface-secondary d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center">
                <div
                    class="col-lg-5 col-xl-4 p-12 p-xl-20 position-fixed start-0 top-0 h-screen overflow-y-hidden bg-primary d-none d-lg-flex flex-column">

                    <div class="mt-32 mb-20">
                        <h1 class="ls-tight font-bolder display-6 text-white mb-5">Let’s build something amazing today.
                        </h1>
                        <p class="text-white text-opacity-80">We are very happy to have you here. </p>
                    </div>
                    <div
                        class="w-56 h-56 bg-orange-500 rounded-circle position-absolute bottom-0 end-20 transform translate-y-1/3">
                    </div>
                </div>
                <div
                    class="col-12 col-md-9 col-lg-7 offset-lg-5 border-left-lg min-h-screen d-flex flex-column justify-content-center position-relative">
                    <div class="py-lg-16 px-lg-20">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-xl-6 mx-auto ms-xl-0">
                                <div class="mt-10 mt-lg-5 mb-6 d-lg-block">
                                    <h1 class="ls-tight font-bolder h2">Sign Up</h1>
                                </div>

                                <form method="post" action="">
                                    {% include 'app_common/snippets/alert.html' %}
                                    {% csrf_token %}
                                    
                                    {{form.as_p}}
                                   
                                    <div>
                                        <button class="btn btn-primary w-full" type="submit">Sign in</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="position-lg-absolute bottom-0 end-0 my-8 mx-12 text-center text-lg-end">
                        <small>Already have an account?</small>
                        <a href="{% url 'app_common:login'%}" class="text-warning text-sm font-semibold">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'app_common/js/main.js'%}"></script>
</body>
{% endblock content %}